openapi: "3.0.2"
info:
  title: CVE Services API
  description: The CVE services API which supports automation tooling for the CVE Project.
  version: 1.0.0
  contact:
    "name": "CVE Services API"
    "url": https://github.com/CVEProject/cve-services
    "email": cve-board-auto-list@mitre.org
  license:
    name: Creative Commons Zero v1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/legalcode
  termsOfService: https://placeholder.cve.mitre.org/api/terms
servers:
  - url: https://cveawg.mitre.org/api
    description: Production server
components:
  parameters:
    cve-id-path:
      name: cve-id
      in: path
      description: The CVE ID for which the record is being submitted
      required: true
      schema:
        type: string
        pattern: 'CVE-\d{4}-\d+'
    org-shortname:
      name: shortname
      in: path
      description: The shortname for an organization in the system
      required: true
      schema:
        type: string
    api-entity-header:
      name: CVE-API-ORG
      description: >
        The shortname for the entity (e.g., CNA, ADP) that is authenticated or requesting authentication.
      in: header
      required: true
      schema:
        type: string
    api-user-header:
      name: CVE-API-USER
      description: >
        The username for the account that is making the request.
      in: header
      required: true
      schema:
        type: string
    api-secret-header:
      name: CVE-API-KEY
      description: >
        The user's api key. \[TODO:: Is there a pattern for the format?\]
      in: header
      required: true
      schema:
        type: string
  schemas:
    cve-id:
      properties:
        cve_id:
          type: string
          pattern: '^CVE-\d{4}-\d+$'
        cve_year:
          type: string
          format: "YYYY"
        owning_cna:
          type: string
          description: The shortname for the organization that owns the CVE-ID.
        state:
          type: string
          enum: [RESERVED, PUBLIC, REJECT]
        requested_by:
          type: object
          properties:
            cna:
              type: string
              description: The shortname for the organization of the user that requested the ID.
            user:
              type: string
              description: The username for the account that requested the ID.
        reserved:
          type: string
          format: date-time
          description: The time the ID was reserved.
        time:
          type: object
          properties:
            created:
              type: string
              format: date-time
              description: The time the ID was created.
            modified:
              type: string
              format: date-time
              description: The last time the ID was modified.
    ArrayOfCveIds:
      type: object
      properties:
        cve_ids:
          type: array
          items:
            $ref: '#/components/schemas/cve-id' 
paths:
  /org/{shortname}/id_quota:
    parameters:
      - "$ref": "#/components/parameters/org-shortname"
    get:
      summary: Allows an Org to see details about their id_quota.
      operationId: getIdQuota
      parameters:
        - "$ref": "#/components/parameters/api-entity-header"
        - "$ref": "#/components/parameters/api-secret-header"
        - "$ref": "#/components/parameters/api-user-header"
        - "$ref": "#/components/parameters/org-shortname"
      responses:
        200:
          description: Returns details of the organization's id_quota
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_quota:
                    type: number
                    description: The number of IDs the organization is allowed to have in the RESERVED state at one time.
                  total_reserved:
                    type: number
                    description: The total of IDs across all years that the organization has in the RESERVED state.
                  available:
                    type: number
                    description: id_quota - total_reserved
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /cve-id:
    get:
      summary: Retrieves all CVE IDs entity owns.
      parameters:
        - "$ref": "#/components/parameters/api-entity-header"
        - "$ref": "#/components/parameters/api-secret-header"
        - "$ref": "#/components/parameters/api-user-header"
        - in: query
          name: state
          schema:
            type: string
          description: Filter by CVE state. [RESERVED, PUBLIC, or REJECT]
        - in: query
          name: cve_id_year
          schema:
            type: integer
          description: "Filter by the year in the CVE ID (YYYY)"
        - in: query
          name: time_reserved.lt
          schema:
            type: string
            format: date-time
          description: "Get all CVE IDs reserved before timestamp"
        - in: query
          name: time_reserved.gt
          schema:
            type: string
            format: date-time
          description: "Get all CVE IDs reserved after timestamp"
      responses:
        200:
          description: A list of CVE IDs the organization owns and fit within the query parameters given.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCveIds'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
    post:
      summary: Reserves IDs for the organization provided in the short_name query parameter.
      parameters:
        - "$ref": "#/components/parameters/api-entity-header"
        - "$ref": "#/components/parameters/api-secret-header"
        - "$ref": "#/components/parameters/api-user-header"
        - in: query
          name: batch_type
          schema:
            type: string
            enum: [sequential, nonsequential, non-sequential]
          description: >
            When amount is greater than one, indicates whether IDs should be sequential or nonsequential.
        - in: query
          name: amount
          schema:
            type: integer
          required: true
          description: Amount of IDs desired
        - in: query
          name: cve_year
          schema:
            type: integer
          required: true
          description: The year the IDs should be reserved for. [1999...current+1]
        - in: query
          name: short_name
          schema:
            type: string
          required: true
          description: >
            Identifies the Org who should own the IDs reserved.
      responses:
        200:
          description: A list of the newly reserved CVE-IDs the account requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCveIds'
        206:
          description: A partial list of the CVE-IDs the IDR managed to reserve before encountering a case where no more IDs could be reserved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The title of the error RESERVED_PARTIAL_AMOUNT
                  message:
                    type: string
                    description: An elaboration of the error
                  details:
                    type: object
                    properties:
                      amount_reserved:
                        type: number
                        description: The amount of IDs that were reserved in the system.
                  cve_ids:
                    type: array
                    items:
                      $ref: '#/components/schemas/cve-id'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /cve-id/{cve-id}:
    parameters:
      - "$ref": "#/components/parameters/cve-id-path"
    get:
      summary: Retrieves a CVE ID by ID, can be a CVE the entity doesn't own if in a PUBLIC or REJECT state.
      operationId: getCVEIdById
      parameters:
        - "$ref": "#/components/parameters/api-entity-header"
        - "$ref": "#/components/parameters/api-secret-header"
        - "$ref": "#/components/parameters/api-user-header"
      responses:
        200:
          description: The requested CVE ID is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cve-id'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /cve/{cve-id}:
    parameters:
      - "$ref": "#/components/parameters/cve-id-path"
    post:
      summary: Creates a CVE ID record by ID, only allowed by the Secretariat
      parameters:
        - "$ref": "#/components/parameters/api-entity-header"
        - "$ref": "#/components/parameters/api-secret-header"
        - "$ref": "#/components/parameters/api-user-header"
        - "$ref": "#/components/parameters/cve-id-path"
      responses:
        200:
          description: Returns the cve record created.
          content:
            application/json:
              schema: 
                oneOf:
                  $ref: 'https://github.com/CVEProject/cve-schema/blob/master/schema/v4.0/CVE_JSON_4.0_min_public.schema'
                  $ref: 'https://github.com/CVEProject/cve-schema/blob/master/schema/v4.0/CVE_JSON_4.0_min_reject.schema'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
